@using Microsoft.AspNetCore.Mvc.Localization
@using MyCommute.Controllers

@inject IHtmlLocalizer<HomeController> Localizer

@model MyCommute.Models.Home.HomeViewModel

<div class="row">
    <div class="col-md-5">
        <div class="dashboard">
            <h1>@Localizer["Home_Welcome"]</h1>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="lead">@Localizer["Home_BeginJourney"]</p>
                <p class="home-button-wrapper">
                    <a class="btn btn-success" href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")rides/manage">
                        @Localizer["Home_ManageRides"]
                    </a>
                </p>
            }
            else
            {
                <p class="lead">@Localizer["Home_BePart"]</p>
                <p>
                    <a class="btn btn-success" href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")auth/signup">
                        @Localizer["Home_SignUp"]
                    </a>
                </p>
            }
        </div>
    
    </div>
    <div class="col-md-7">
        <div class="dashboard">
            <h3 class="text-center">@Localizer["Home_LatestRides"]</h3>
            <div class="ride-line-wrapper">
                @foreach (var ride in Model.Rides)
                {
                    <div class="ride-line-wrapper">
                        <div class="col-md-5 text-center">@ride.FromCity</div>
                        <div class="col-md-1 text-center">
                            <img src="~/images/icons/arrow.svg" />
                        </div>
                        <div class="col-md-5 text-center">@ride.ToCity</div>
                        <div class="col-md-1 text-center">
                            <a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")rides/detail/@ride.Id">
                                <img src="~/images/icons/learn-more.svg" />
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="text-right">
                <a class="custom-anchor" href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")rides/browse">View all</a>
            </div>
        </div>
    </div>
</div>