@using Microsoft.AspNetCore.Mvc.Localization
@using MyCommute.Controllers

@inject IHtmlLocalizer<AuthController> Localizer
@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider

@model MyCommute.Models.Auth.SignInViewModel

@if (!ViewContext.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="form-validation"></div>
}

<form class="form-signin" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img class="img-responsive center-block" src="~/images/profile-login.svg" />
        <h2 class="text-center">@Localizer["Login"]</h2>

        <div class="form-group">
            <label class="sr-only">Email</label>
            <input type="text" class="form-control" placeholder="@Localizer["SignIn_Email"]" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="sr-only">Password</label>
            <input type="password" class="form-control" placeholder="Password" asp-for="Password" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button class="btn btn-primary btn-block">Sign In</button>
        @foreach (var provider in await schemeProvider.GetRequestHandlerSchemesAsync())
        {
            <a class="btn btn-block btn-@provider.Name.ToLower()" asp-action="SignInExternal"
               asp-route-provider="@provider.Name"
               asp-route-returnUrl="@Context.Request.Query["returnUrl"]">@provider.DisplayName</a>
        }
    </div>
    <div class="col-md-4"></div>

</form>