@using Microsoft.AspNetCore.Mvc.Localization
@using MyCommute.Utilities

@inject IHtmlLocalizer<SharedResources> Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyCommute</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/dist/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui/dist/js/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    @{
        Context.Request.Cookies.TryGetValue("RatingNotifications", out string ratingNotifications);
        Context.Request.Cookies.TryGetValue("FriendNotifications", out string friendNotifications);
    }
    @await Component.InvokeAsync("NToastNotify")

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] : "")" class="navbar-brand">MyCommute</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")home">@Localizer["Layout_Home"]</a></li>
                    <li><a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")rides/browse">@Localizer["Layout_Browse"]</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")rides/manage">@Localizer["Layout_ManageRides"]</a></li>
                        <li><a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")users">@Localizer["Layout_Users"]</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav pull-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")profile/friends" id="friendNotificationButton" role="button">
                                <img src="~/images/icons/friends.svg" />
                                <span id="friendNotification" class="badge">@friendNotifications</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")profile/ratings" id="ratingNotificationButton" role="button">
                                <img src="~/images/icons/rating.svg" />
                                <span id="ratingNotification" class="badge">@ratingNotifications</span>
                            </a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="languagesDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/images/icons/globe.svg" />
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="languagesDropdownMenuLink">
                            <li><a id="bg" class="language-item dropdown-item" href="">@Localizer["Layout_Bulgarian"]</a></li>
                            <li><a id="en" class="language-item dropdown-item" href="">@Localizer["Layout_English"]</a></li>
                        </ul>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profileDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/images/icons/profile.svg" />
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="profileDropdownMenuLink">
                                <li><a class="dropdown-item" href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")profile">@Localizer["Layout_Profile"]</a></li>
                                <li><a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")auth/signout">@Localizer["Layout_SignOut"]</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li role="presentation"><a href="~/@(ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"] + "/" : "")auth/signin">@Localizer["Layout_SignIn"]</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="@(Context.Request.Path == "/" || Context.Request.Path == "/en" || Context.Request.Path == "/bg"  || Context.Request.Path == "/en/" || Context.Request.Path == "/bg/" || Context.Request.Path.ToString().Contains("home") ? "body-wrapper-home" : "body-wrapper")">
        @RenderBody()
    </div>

    <footer class="footer"></footer>
    <script>
        $(".language-item").on("click", function () {
            event.preventDefault();

            var language = $(this).attr('id');

            var segments = window.location.pathname.split("/");
            var sliceStart = (segments[1] !== "en" && segments[1] !== "bg") ? 1 : 2;

            var newPath = window.location.protocol + "//" + window.location.host + "/" + language + "/" + segments.slice(sliceStart, segments.length).join("/");

            window.location = newPath;
        });
    </script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="~/js/notificationHub.js"></script>
    }
</body>
</html>