@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@using MyCommute.Controllers

@inject IHtmlLocalizer<ProfileController> Localizer
@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider schemeProvider

@model MyCommute.Models.Profile.ProfileCarInformationViewModel

<form id="profile-car-information" asp-controller="Profile" asp-action="CarInformation"  method="post" enctype="multipart/form-data" data-ajax="true" data-ajax-update="#profile-car-information" data-ajax-mode="replace">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="@Localizer["Profile_CarBrand"]" asp-for="Brand" />
            <span asp-validation-for="Brand" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="@Localizer["Profile_CarModel"]" asp-for="Model" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="@Localizer["Profile_CarSeats"]" asp-for="Seats" />
            <span asp-validation-for="Seats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <select id="fuelType" class="selectpicker form-control" asp-for="FuelType">
                <option value="diesel">@Localizer["Profile_Car_Diesel"]</option>
                <option value="gasoline">@Localizer["Profile_Car_Gasoline"]</option>
                <option value="lpg">@Localizer["Profile_Car_Lpg"]</option>
                <option value="methane">@Localizer["Profile_Car_Methane"]</option>
            </select>
        </div>
        <button class="btn btn-primary btn-block">@Localizer["Profile_Save"]</button>
    </div>
    <div class="col-md-4"></div>
</form>